# IDEs
.vscode/
.idea/

# Misc
*DS_Store

# Caches
*__pycache__/
*.pytest_cache/

# Notebooks
*.ipynb_checkpoints/

# Secrets
*.env
*.venv

**logs/

**test**.ipynb
**Untitled.ipynb
**/images/
src/data/hierarchy
src/data/hierarchy
src/notebooks/update_database.ipynb
